.cardDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  row-gap: .7rem;
}

.profilePicture {
  max-width: 9.56rem;
  border-radius: 100%;
  
  & img {
    width: 100%;
    border-radius: inherit;
  }
}

.TitleProfile {
  font-size: 1.5rem;
  color: #ffffff;
}

.DescriptionProfile {
  font-size: 0.75rem;
  color: #ffffff;
}

.ContactDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .2rem;
  margin-top: .8rem;

  & a {
    text-decoration: none;
    color: #d9d9d9;

    &:hover {
      text-decoration: underline;
    }
  }
}

.SocialMedia {
  width: 13rem;
  margin-top: .5rem;

  display: flex;
  justify-content: space-between;

  & a {
    font-size: 0.875rem;
    text-decoration: none;
    padding: .22rem .8rem;
    background-color: #FAEDDA;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px #00000040;

    &:hover {
      background-color: #d3c8b9;
      transition: .3s;
    }
  }
}